In [2]:
import pandas as pd
import numpy as np
import gensim
from gsdmm import MovieGroupProcess
import re
import nltk
import string
from nltk.corpus import stopwords
import os
import matplotlib.pyplot as plt
from wordcloud import WordCloud
import shutil
stopwords = stopwords.words('english')

In [24]:
cskg = pd.read_csv("cskg_star.tsv", delimiter="\t", error_bad_lines=False)
cskg.head(3)

/tmp/ipykernel_3606945/4116651010.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  cskg = pd.read_csv("cskg_star.tsv", delimiter="\t", error_bad_lines=False)
Skipping line 5997119: expected 10 fields, saw 11
Skipping line 6016458: expected 10 fields, saw 11
Skipping line 6017377: expected 10 fields, saw 11

Skipping line 6049906: expected 10 fields, saw 11
Skipping line 6067719: expected 10 fields, saw 11
Skipping line 6069988: expected 10 fields, saw 11
Skipping line 6079377: expected 10 fields, saw 11
Skipping line 6092900: expected 10 fields, saw 11

Skipping line 6101744: expected 10 fields, saw 11
Skipping line 6101793: expected 10 fields, saw 11
Skipping line 6131769: expected 10 fields, saw 11

Skipping line 6171924: expected 10 fields, saw 11
Skipping line 6215673: expected 10 fields, saw 11
Skipping line 6223428: expected 10 fields, saw 11
Skipping line 6225292: expected 10 fields, saw 11

/tmp/ipykernel_3606945/4116651010.py:1: DtypeWarning: Columns (7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  cskg = pd.read_csv("cskg_star.tsv", delimiter="\t", error_bad_lines=False)

,id,node1,relation,node2,node1;label,node2;label,relation;label,relation;dimension,source,sentence
0,/c/en/0-/r/DefinedAs-/c/en/empty_set-0000,/c/en/0,/r/DefinedAs,/c/en/empty_set,0,empty set,defined as,NaN,CN,[[0]] is the [[empty set]].
1,/c/en/0-/r/DefinedAs-/c/en/first_limit_ordinal...,/c/en/0,/r/DefinedAs,/c/en/first_limit_ordinal,0,first limit ordinal,defined as,NaN,CN,[[0]] is the [[first limit ordinal]].
2,/c/en/0-/r/DefinedAs-/c/en/number_zero-0000,/c/en/0,/r/DefinedAs,/c/en/number_zero,0,number zero,defined as,NaN,CN,[[0]] is the [[number zero]].

In [3]:
df = pd.read_csv("../../data/extracted/TRAINING/training.csv", delimiter='\t')
print(df.shape)
df.head(3)

(10000, 7)

,file_name,misogynous,shaming,stereotype,objectification,violence,Text Transcription
0,1.jpg,0,0,0,0,0,Milk Milk.zip
1,10.jpg,1,0,0,0,1,"ROSES ARE RED, VIOLETS ARE BLUE IF YOU DON'T S..."
2,1000.jpg,0,0,0,0,0,BREAKING NEWS: Russia releases photo of DONALD...

In [4]:
def preprocess(text):
    text = text.lower()
    text = ' '.join([word for word in text.split() if word not in stopwords])
    text = ' '.join([word for word in text.split() if len(word) >= 3])
    text = ' '.join([word for word in text.split() if not re.match(r'\b\w+\.(com|org|net)\b', word)])
    text = text.translate(str.maketrans('', '', string.punctuation))
    return text

texts = df['Text Transcription'].tolist()
texts = list(map(preprocess, texts))

In [32]:
record_index = 302
print(texts[record_index])
df.iloc[record_index]

lvl1 lv199

file_name              10318.jpg
misogynous                     1
shaming                        0
stereotype                     0
objectification                1
violence                       0
Text Transcription    LVL1 Lv199
Name: 302, dtype: object

In [26]:
entities = texts[record_index].split()
entities

['super',
 'rare',
 'find',
 'akitchen',
 'four',
 'ovens',
 'three',
 'dishwashers',
 'sb']